
.icon-lock-filled:before { content: '\e800'; } /* '' */
.icon-desktop:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */