.card{
    border:none;
}
.icon-border{
    margin: 25px auto;
    border: 2px solid #fed136;
    border-radius: 50%;
    width: 70px;
    height: 69px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.icon-card{
    color:#fed136;
}
.icon-shopping-basket{
   height: 42px;
    width: 42px; 
}
.icon-laptop{
    width: 43px;
    height: 37px; 
}
.icon-locked{
    width: 31px;
    height: 40px; 
}