.footer .social{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.copyright{
    text-align: center;
}
.footer{
    padding: 20px;
}